<div id="errors">
    <% if(locals.errors){ %> <% errors.forEach(function(error) { %>
      <div class="error" role="alert">
        <%= error.msg %>
        
      </div>
      <% }); %> <% } %> <% if(success_msg != ''){ %>
      <div id="success" class="success" role="alert">
        <%= success_msg %>
        
      </div>
      <% } %> <% if(error_msg != ''){ %>
      <div class="error" role="alert">
        <%= error_msg %>
        
      </div>
      <% } %> <% if(error != ''){ %>
      <div class="error" role="alert">
        <%= error %>
        
      </div>
      <% } %>
  </div>