<%- include('./partials/Head.ejs')  %> 
login here
<%- include('./partials/messages.ejs')  %> 
<form action="/login" method="POST">
    <label for="email"></label>
    <input name="email" type="text" id="email"/><br>
    <label for="password"></label>
    <input name="password" type="password" id="password"/><br>
    <button type="submit">Login </button>
</form>