@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: 'PT Sans', sans-serif;

}

.error {
    background-color: rgba(210, 67, 67, 0.8);
}

.success {
    background-color: rgba(74, 242, 121, 0.8);
}